@charset "UTF-8";

/* 

em HTML é id = em CSS é #(só pode um elemento)
em HTML é class = em CSS é . (pode vários elemtos)
*/



body{ 
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #1e402f;
}

h1#principal{
    text-align: center;
    background-color: #2c805e;
    color: white;
}
h2{
    color: #3c805e;

}
.basico{
    text-align: center;
    color: #3c805e;
   
}

.intermediario{
    color:rgb(255, 230, 0) ;
}

.avancado{
    color:rgb(255, 0, 0) ;
}

.destaque{
    background-color: #c5c56070;
}
